/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.spax{
    height: 30%;
}
.in{
    margin-top: 50%;
    margin-left: 100%;
}
.error{
    margin-top: 48%;
}
.heh{
    height: 100% !important;
}
.message{
    color: #BDD7EE !important;
    font-size: 25px !important;
}
.message-container{
    margin-left: 5%;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.timer1{
    text-align: center;
    font-size: 45px;
    color: white;
    
}
.group_div{
    background-color: #bdd7ee;
    height: 110%;
}
.spc{
    height: 1%;
}
.group_chat_name{
    border: 1px solid black;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}
.blk{
    color: black;
}
.gr_div{
    background-color: #595959;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 400px;
    overflow-y: auto;
    border: 2px solid;
}
.container{
    all:unset;
    width: "100%"
}
.checkbox{

}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: black !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.text-center{
    text-align: center;
}
.plan{
    text-align: center;
    border: 1px solid white;
    width: 80%;
    margin-left: 9%;
}
.color-text{
    color: #9dc3e6 !important;
}
.msg{
    background-color: #595959;
    border: #595959;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    color: white;
}
.mssg{
    background-color: #bdd7ee;
    height:  10%;
    position: absolute;
    top: 87%;
    width: 90%;
}
.sun{
    position: absolute;
    top: 20%;
    left: 78%;
}
.mssg1{
    background-color: #bdd7ee;
    height:  10%;
    position: absolute;
    top: 75%;
    width: 90%;
}
.mssg2{
    background-color: #bdd7ee;
    height:  10%;
    position: absolute;
    top: 63%;
    width: 90%;
}
.txt{
    color: black;
    position: absolute;
    top: 15%;
    left: 49%;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: #404040;
    color: #9dc3e6;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #404040;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #404040;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #404040;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #404040;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.txt-b{
    color: black !important ;
}
/* try style */
.name{
    color: white;
    text-align: center;
    padding-top: 20%;
}
.name2{
    color: black;
    text-align: center;
    padding-top: 20%;
}
.timer{
    text-align: center;
  font-size: 40px;
  margin-top: 0px;
  color: black;
}
.timer1{
    text-align: center;
  font-size: 40px;
  margin-top: 0px;
  color: white;
}
.buts{
    text-align: center;
}
.btn-default{
    background: transparent !important;
    color: #9dc3e6;
    font-size: 25px;
    border: 2px solid white;
    width: 20%;
}
.frm{
    width: 40%;
    margin-left: 30%;
}
.tr{
    background-color: transparent;
    color: white;
}
.tr::placeholder {
    color: white;
}
.tr:focus{
    background-color: transparent !important;
    color: white !important;
}
.tr1{
    background-color: transparent;
    color: black;
    border: 2px solid;
}
.tr1::placeholder {
    color: black;
}
.tr1:focus{
    background-color: transparent !important;
    color: black !important;
}
a:hover{
    color: #9dc3e6;
    text-decoration: none
}
a{
    color: #9dc3e6;
}
.wrapper {
    display: flex;
    width: 100%;
}